workspace/Z3Coordiantor/Debug
workspace/Z3Coordiantor/settings
workspace/Z3Coordiantor/Z3Coordiantor.dep
workspace/Z3ContactSensor/BuildResult
workspace/Z3ContactSensor/settings
workspace/Z3ContactSensor/Z3ContactSensor.dep
tool/plugins/com.silabs.external.jython_2.7.0.201705012047-102/external_jython/2.7.0/cachedir
*.class
*.bak
*.lst
*.cfgc
*.o
*.pyc
*.patch
*.zip
*.IAB
*.IAD
*.IMB
*.IMD
*.PO
*.PFI
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3
*.pdf
*.rtf
*.html
*.exe
*.htm
*.bak